# Editor configuration, see http://editorconfig.org
root = true

[Makefile]
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.py]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Mkdocs literate nav plugin only parses Markdown using indent size 4 spaces https://oprypin.github.io/mkdocs-literate-nav/
[docs/summary.md]
indent_size = 4
